#planner {
  font-size: 14px;
  margin: 65px 0 50px 5px;
  position: relative;
  background-color: rgb(250,250,250);
  th {
    height: 20px;
    border-left: 1px solid rgba(37, 50, 56, 0.4);
    background-color: white;
  }
  td {
    height: 30px;
    min-width: 30px;
    border-left: 1px solid rgba(37, 50, 56, 0.4);
    border-top: 1px solid rgba(77, 90, 96, 0.1);
    position: relative;
  };
}

#agenda {
  display: flex;
  justify-content: center;
  overflow-y: hidden;
  overflow-x: auto;
  position: relative;
}

#forms {
  position: absolute;
  display: none;
}

#bin {
  color: $gray-light;
  height: 50px;
  width: 50px;
  font-size: 20px;
  border-radius: 50%;
  border: 2px solid $gray;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.blech {
  margin-left: 2px;
  height: 1px;
  width: 80%;
}

.dragged-poste {
  opacity: 0.4;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grab {
  cursor: grab;
}

.greyish {
  background-color: $gray;
  opacity: 0.4;
}

.half-hour {
  font-size: 8px;
  color: $gray-light;
}

.item {
  position: absolute;
  top: 0;
  z-index: 90;
}

.name-padding-right {
  padding-right: 5px;
}

.poste {
  overflow: hidden;
  width: 60px;
  height: 28px;
  max-height: 28px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  z-index: 2;
  border-radius: 8px;
  > span {
    position: absolute;
    top: 2px;
    left: 2px;
  }
}

.postes-list {
  position: absolute;
  bottom: 0;
  padding-bottom: 25px;
  > .row > div {
    padding-top: 10px;
  }
}

.ui-resizable-se {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 10px;
    height: 10px;
    cursor: se-resize;
}
