.week-name h1, .agenda-buttons, .agenda-and-employees {
  font-family: "Lato", Arial, sans-serif;
}

.agenda-and-employees {
  display: flex;
}

.employee-names {
  margin-top: 90px;
  li {
    height: 30px;
    vertical-align: middle;
  }
}

.agenda-buttons {
  position: relative;
  display: flex;
}

.agenda-wrapper {
  background: white;
  border-radius: 10px;
  width: 100%;
  margin-left: 10px;
}

.bin-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
}

.save-button {
  margin-right: 20px;
  border-radius: 10em;
  background-color: white;
  border: 2px solid $green;
  color: $green;
  font-weight: bolder;
  &:hover {
    background-color: $green;
    color: white;
    border: 0;
  };
}

.small-date {
  font-size: 10px;
  color: $gray-light;
}

.week-buttons {
  position: absolute;
  right: 0;
  width: 250px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    font-size: 14px;
    background-color: $shyft-dark-blue;
    width: 100%;
    height: 100%;
    color: $gray-lighter;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      background-color: rgb(135,135,135);
      text-decoration: none;
    };
    &:first-child {
      border-radius: 8px 0 0 8px;
    };
    &:last-child {
      border-radius: 0 8px 8px 0;
      border-right: none;
    };
  }
}

.week-buttons-container {
  position: relative;
  width: 100%;
  height: 55px;
}

.week-name {
  h1 {
    font-size: 25px;
    font-weight: lighter;
    margin-top: 10px;
  }
  a i {
    color: $gray-light;
    margin: 0 8px;
  }
}
