.week-name i {
  margin: 0 8px;
}

.agenda-buttons {
  position: relative;
  display: flex;
}

.week-buttons {
  position: absolute;
  right: 40px;
  width: 170px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.week-buttons-container {
  position: relative;
  width: 100%;
  height: 55px;
}

.week-buttons a {
  font-size: 14px;
  background-color: $gray-light;
  width: 100%;
  height: 100%;
  color: $gray-dark;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid $gray;
}

.week-buttons a:hover {
  background-color: rgb(135,135,135);
  text-decoration: none;
  font-weight: bold;
}

.week-buttons a:first-child {
  border-radius: 8px 0 0 8px;
}

.week-buttons a:last-child {
  border-radius: 0 8px 8px 0;
  border-right: none;
}

.agenda-wrapper {
  background: white;
  border-radius: 10px;
  width: 75vw;
  margin-left: 10px;
}

.small-date {
  font-size: 10px;
  color: $gray-light;
}

.agenda-and-employees {
  display: flex;
}

.employee-names {
  margin-top: 100px;
}

.employee-names li {
  height: 30px;
  vertical-align: middle;
}
