.total-hours-wrapper {
  margin-top: 33px;
  .pace-filter {
    border: none;
    box-shadow: none;
    border-radius: 10em;
    width: 60px;
    height: 30px;
    line-height: 29px;
    color: white;
    margin: 0 auto;
    font-size: 12px;
  }
  .pace-filter-green {
    background: #69B26A;
    transition: all 0.2s ease;
    &:hover {
      background: #61A561;
    }
  }
  .pace-filter-red {
    background: #FF7670;
    transition: all 0.2s ease;
    &:hover {
      background: #F7706B;
    }
  }
  .pace-filter-reset {
    color: #A2A2A2;
    transition: all 0.2s ease;
    &:hover {
      color: $gray-light;
    }
  }
}
.total-hours {
  box-shadow: 1px 1px 2px rgba(0,0,0,0.07);
  h1 {
    margin: 5px 0;
    font-size: 25px;
    color: #788186;
  }
  td {
    text-align: center;
    line-height: 30px;
  }
  th {
    color: $gray-light;
    font-size: 14px;
    text-align: center;
  }
  tr {
    font-weight: lighter;
    &:nth-child(even) {
      background: #F5F5F5;
    }
  }
  .pace {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color: white;
    margin: 0 auto;
    font-size: 12px;
  }
  .pace-green {
    background: #69B26A;
  }
  .pace-red {
    background: #FF7670;
  }
}

.over-hours-limit {
  td {
    background: #FEE1ED;
    border-top: 1px solid #FEA5AC;
    border-bottom: 1px solid #FEA5AC;
    &:first-child{
      border-left: 1px solid #FEA5AC;
    }
    &:last-child {
      border-right: 1px solid #FEA5AC;
    }
  }
}

.card-almost-limit {
  td {
    background: rgba(255, 165, 0, 0.2);
    border-top: 1px solid orange;
    border-bottom: 1px solid orange;
    &:first-child{
      border-left: 1px solid orange;
    }
    &:last-child {
      border-right: 1px solid orange;
    }
  }
}

.popover-table {
  margin: 0;
  border: none !important;
  box-shadow: none;
  .panel-heading {
    background: none;
    color: $gray-light;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    border: none;
  }
  td {
    background: none;
    color: $gray;
    font-size: 12px;
    font-weight: lighter;
    text-align: center;
    border-bottom: 1px solid white;
    padding: 0;
    &:first-child {
      width: 105px;
    }
    &:last-child {
      width: 70px;
    }
  }
}

.under-limit {
  color: red;
}

.almost-limit {
  color: rgb(225, 135, 0);
}

.hours-left {
  color: green;
}
#user-show-table {
  margin-top: 0;
}

.admin-month-table {
  display: flex;
  align-items: center;
  justify-content: space-around;
  a i {
    color: $gray-light;
    padding-top: 5px;
    margin: 0 10px;
    font-size: 20px;
  }
}

.legend {
  width: 300px;
  font-size: 12px;
  table {
    padding: 10px 20px;
  };
}
