<h1>Add an employee</h1>
<%= render 'users/form', user: @user, membership: @membership, ability: @ability %>

<h1>My users</h1>




<div id="users">
  <% @shop_employees.each do |employee| %>
    <%= employee.first_name %>
    <%= employee.last_name %>
    </br>
  <% end %>
</div>
