<h1>Add an employee</h1>
<%= simple_form_for @user do |f| %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%# f.collection_check_boxes :postes, [[true, 'Yes'] ,[false, 'No']], :first, :last %>
  <%= f.button :submit, value: "Create" %>
<% end %>
