<h1><%= @user.first_name + " " + @user.last_name %></h1>
<ul>
  <li><strong>role:</strong> <%= @user.memberships.first.role %></li>
  <li><strong>email:</strong> <%= @user.email %> </li>
  <li><strong>skillz:</strong> <%= @user.abilities.map{ |a| a.poste.name.capitalize }.join(" ") %></li>
</ul>

