<li>
  <%= link_to shop_plannings_path(@shop) do %>
    <i class="fa fa-calendar icon"></i>Mes plannings
   <% end %>

</li>
<li>
  <%= link_to users_path do %>
    <i class="fa fa-users icon" ></i>Mes Employés
  <% end %>
</li>
<li>
  <%= link_to new_poste_path do %>
    <i class="fa fa-list icon"></i>Postes
   <% end %>
</li>
<li>
  <%= link_to shop_total_path(@shop) do %>
    <i class="fa fa-file-text-o icon"></i>Espace administratif
  <% end %>
</li>
