<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand">
    <li><h4>Dashboard</h4></li>
    </li>
    <li>
      <a href="#">Mes plannings </a>
    </li>
    <li>
      <a href="#">Mes Employés</a>
    </li>
    <li>
      <a href="#">Postes</a>
    </li>
    <li>
      <a href="#">Apercu Nbre heure</a>
    </li>
    <li>
      <a href="#">TimeOff</a>
    </li>
    <li>
      <a href="#">Services</a>
    </li>
    <li>
      <a href="#">Contact</a>
    </li>

  </ul>
</div>
<div class="sidebar-wrapper-border">
<a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
</div>
