<div id="sidebar-wrapper" class="hidden-xs hidden-sm">
  <ul class="sidebar-nav">
    <li class="sidebar-brand">
      <h4>Dashboard</h4>
      <a href="menu-toggle" class="hidden-xs hidden-sm menu-toggle">
        <i class="fa fa-bars"></i>
      </a>
    </li>
    <% if user_signed_in? %>
      <% if @role == "Employee" %>
        <%= render 'shared/employee_sidebar' %>
      <% elsif @role == "Line Manager" %>
        <%= render 'shared/manager_sidebar' %>
      <% elsif @role == "HR Manager" %>
        <%= render 'shared/hr_sidebar' %>
      <% else %>
        <li>error</li>
      <% end %>
    <% else %>
      <li>
        <%= link_to "", root_path%>
      </li>
    <% end %>
  </ul>
</div>
<a href="menu-toggle" class="hidden menu-toggle show">
  <div class="menu-toggle-container">
    <h4>Dashboard <i class="fa fa-caret-right"></i></h4>
  </div>
</a>
