<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand"><h4>Dashboard</h4>
    </li>
    <li>
      <%= link_to new_planning_path, do %>
         <i class="fa fa-calendar icon"></i>
       <% end %>
    </li>
    <li>
      <a href="#"><i class="fa fa-users icon" ></i>Mes Employés</a>
    </li>
    <li>
      <a href="#"><i class="fa fa-list icon"></i>Postes</a>
    </li>
    <li>
      <a href="#"><i class="fa fa-file-text-o icon"></i>Apercu Nbre heure</a>
    </li>
  </ul>
</div>
<a href="#menu-toggle" class="sidebar-wrapper-border" id="menu-toggle"></a>


