<div class="banner" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://redbird.la/wp-content/uploads/sites/7/2015/11/3.jpg');">
  <div class="banner-content">
    <h1>Shyft</h1>
    <p>No hassle time management</p>
    <%= link_to "Sign in", new_user_session_path, class: "btn btn-primary btn-lg" %>
  </div>
</div>
