#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 225px;
    width: 0;
    height: 100%;
    margin-left: -225px;
    overflow-y: auto;
    background: #253238;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.sidebar-wrapper-border{
  position: relative;
  left: 0px;
  width: 10px;
  height: 100%;
  overflow-y: auto;
  background-color: gray;
   -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

}
#menu-toggle {
  position: middle;
  padding: 5px;
}
 #wrapper.toggled {
        padding-left: 10px;
    }

#wrapper.toggled #sidebar-wrapper {
    width: 225px;
}

.page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}


/* Sidebar Styles */
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 225px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.sidebar-nav li h4 {
    padding: 21px 10px;
    font-family: "ProximaNova", "Helvetica", "sans-serif";
    background-color: #1E292D;
    margin: 0 auto;
    color: white;
    border-bottom: 2px solid #1E292D;
}
.sidebar-nav li {
    text-indent: 10px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
   .poste-flex {
      display: flex;
      margin-right: 225px;
    }
    #wrapper {
        padding-left: 225px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 225px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    .page-content-wrapper {
      position: relative;
      overflow: hidden;
      width: 100%;
      top: 70px;
      padding: 15px 20px;
      //padding-right: 225px;
    }
    #wrapper.toggled .page-content-wrapper {
      margin-right: -225px;
    }
    #wrapper.toggled .poste-flex {
      margin-right: 0px;
    }

}

.icon {
  color: white;
  padding-right: 10px;
}
