<div class="container-fluid">
  <%= render 'form'%>
  <h1>Liste des Postes</h1>

  <div class="row">
    <% @postes.each do |poste|%>
      <div class="card-postes text-inline">
        <div class="card-postes-description">
          <i class="fa fa-square fa-5x poste-title"></i>
          <%= poste.name %>
        </div>
        <div class="card-planning-controls">
          <div class="list-controls">
            <%= link_to "Modifier", edit_poste_path(poste),class: "btn btn-default" %>
            <%= link_to "Supprimer", poste_path(poste), method: :delete, data: {confirm: "are you sure?"}, class: "btn btn-default" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

</div>

