<title>Skello - <%= yield(:title_tag).presence || "gestion de planning intelligente" %></title>
<meta property="og:title" content="<%= yield(:title_tag).presence || "gestion de planning intelligente" %>" />
<meta name="description" content="Grâce à Skello, gérez vos plannings de façon simple et intelligente, et partagez-les en temps réel avec vos collaborateurs">
