<h1>Plannings#index</h1>
<div class="page-content-wrapper">
  <div class="container">
    <div class="row">
      <%= link_to "Creer un Planning", new_planning_path, class: "btn btn-primary"%>
    </div>
    <div class="row">
      <%@plannings.each do |planning|%>
        <div class="col-xs-4">
        <p>Semaine du </p>
        <%=planning.start_date.strftime("%d.%m.%y")%>au<%=planning.end_date.strftime("%d.%m.%y")%>
        <%= link_to "Voir le Planning", planning_path(planning), class: "btn btn-success"%>
        </div>
       <%end%>
    </div>
  </div>
</div>
